.nav input[type=text] {
	color: black !important;
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    background-repeat: no-repeat;
    padding: 10px 20px 8px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-top: 5px;
    
}

.nav input[type=text]:focus {
    width: 100% !important;
    z-index: 999;
}  

.nav input[type=text]:hover{
	color: black;
}

.desc-text h2, h3, h4{
    text-align: left;
}
.desc-text h1{
    font-size: 50px;
    width: 100%;
    border-width: 0px
}       
.desc-text p{
    font-size: 22px;
    text-align: left;
    text-align: justify;
}

.nguyenlieu{
    margin-top: 50px;
    margin-left: 130px;
}
.chitiet{
    margin-top: 50px
}

.binhluan{
    margin: 20px 0px;
    text-align: left;
}
.binhluan h2{
    margin-bottom: 10px;
}
.binhluan .btn{
    background-color: #6bb42a;
    color: #fff;
    text-decoration: none;
}
.binhluan .btn:hover{
    opacity: 0.6;
}

