

.nav input[type=text] {
	color: black !important;
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    background-repeat: no-repeat;
    padding: 10px 20px 8px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-top: 5px;
    
}

.nav input[type=text]:focus {
    width: 100% !important;
    z-index: 999;
}  

.nav input[type=text]:hover{
	color: black;
}