

/*
Author: Bootstrapthemes
Author URI: http://bootstrapthemes.co
*/
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}
a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}


img {
    max-width: 100%;
}



/*
Button
*/
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled,
.btn-primary.disabled:hover {
    color: #ffffff;
    background-color: #5e9a28;
    border-color: #5e9a28;
}



.btn {
    display: inline-block;
    min-width: 230px;
    padding: .4em;
    height: 45px;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    margin: 0;
    font-size: 20px;
    border-radius: 40px;
    margin-top: 20px;
    background-color: transparent;
    transition: .5s; 
    border:0px;

}
.btn:hover {
    background-color:#6bb42a;
    color: #fff;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #639d2f;
    border-color: #fff;
    transition: .5s;	
}

.btn_news_color{
    color:#5e9a28;
    border-color: #5e9a28;
}

.btn-md{
    border:1px solid #5e9a28;
    color:#5e9a28;
}


.btn-larg{
    border: 1px solid #fff;
    color:#fff;
    padding: 6px 30px;
}




/*main_portfolio_content_area*/
.portfolio{}
.main_portfolio{}
.main_portfolio_content_area{}



/* mixitup section */


.main_mixi_content{
    max-height: 900px;

}
.main_mix_menu{
    margin-bottom:50px;
}
.main_mix_menu ul li.btn{
    min-width:150px;
    height:35px;
    padding: .2rem;
    border:1px solid #ddd;
}
.main_mix_menu ul li.btn-primary {
    background-color: transparent;
    transition: .5s;
    color: #223d61 !important;
}
.main_mix_menu ul li.active {
    background: #5e9a28;
    color:#fff !important;
}



.single_mixi_portfolio{
    position:relative;
    float: left;
    border: 3px solid #fff;
    width:100%;
}
.single_mixi_portfolio img{
    width:100%;
    height: 230px;
}
.single_mixi_portfolio:hover .mixi_portfolio_overlay{
    opacity:1;
}
.mixi_portfolio_overlay{
    background:rgba(236, 228, 217, 0.75);
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    transition:.5s;
    opacity:0;
}
.mixi_portfolio_overlay .overflow_hover_text{
    position: absolute;
    top: 17%;
    left: 13%;
    width: 75%;
}
.mixi_portfolio_overlay .overflow_hover_text i{
    color:#223d61;
    font-size: 40px;
}
.mixi_portfolio_overlay .overflow_hover_text h2{
    color:#223d61;
    font-size:22px;
    margin-bottom: 0px;
}
.mixi_portfolio_overlay .overflow_hover_text p{
    color:#5e9a28;
}


.mixcontent .mix{
    display: none;
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 50% 0;
}

.portfolio_btn_area{
    overflow: hidden;
    width: 100%;
    margin-top: 50px;
    display: inline-block;
}


/*gellary section css*/
.gellary{}
.gellary .single_gellary_item{
    position: relative;  
    max-width:100%; 
    margin-bottom:30px;
}
.gellary .single_gellary_item img{

}
.gellary .single_gellary_item:hover .gellary_overlay{
    opacity: 1; 
}
.gellary .single_gellary_item .gellary_overlay{
    background: rgba(94, 154, 40, 0.55);
    text-align: center;
    position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 70px 0px 0px 0px;
    opacity: 0;
    transition: .6s;

}

.gellary .gellary_overlay i{
    color:#fff;
    font-size: 2.5rem;
}
.gellary .gellary_overlay h4{
    color:#223d61;
    margin-bottom: 10px;
}
.gellary .gellary_overlay p{
    color:#fff;
}
